@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.navigation a{
    @apply uppercase
}

.head_block{
  
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    background:linear-gradient(120deg, #B173A3, #6B98A7);
   
}

.head_block_item{
    background-image:url(./icons/homepage.gif);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right center;
}


.cards div img{
    @apply w-full h-[80%]
}

.cards img{
    @apply object-cover rounded-t-xl 
}

.images img{
    @apply w-[64px] hover:transition-transform hover:scale-125
}
.form{
    @apply flex flex-col items-center justify-center
}

.form input{
    @apply w-[400px] p-3 border-2
}
.form select{
    @apply w-[400px] p-3 border-2
}